nav,
footer{
    display: block;
    margin: 0;
}

body{
    line height: 1;
    margin: 0;
}
.bg{
    background-image: url("images/developer.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron  {
    background: none;
    background-color: none;
}
.jumbotron h1{
    color: white;
    font-size: 70px;
    font-weight: 600;
}
.me{
    /* background-color: 	#D3D3D3; */
    text-align: center;
    display: block;
}
.intro{
    color: black;
    font-size: 25px;
    font-weight: 100;
    font-family: arial;
    padding-top: 2px;
}
/* .col-sm-3{
    width: 40%;
} */
.col-12{
    text-align: center;
}

.col-6.msg{
    text-align: center;
}
.col-6 p.message{
    font-size: 30px ;
}
.myproj{
    background-color: #D3D3D3;
}
.card{
    text-align: center;
}
#skills{
    text-align: center;
    margin: 10px;
}
.skill-list{
    display: flex;

    flex-wrap: wrap ; 
    }
.skill-item{
    padding: 2px;
    font-size: 8px;
    float: left;
    text-align: center;
    margin: 3px;
    }
.flex-layout{
    text-align: center;
}    

/* Nav bar */

nav{
    width: 100%;
    margin: 0;
    background: none;
}
nav ul{
    width: 100%;
    background: none;
    overflow: hidden;
    margin: 0;
    padding: 0;

}
ul.topnav li{
    list-style: none;
    float: left;
    
}
ul.topnav li.stayright{
    float: right;
}
ul.topnav li a{
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}
ul.topnav li a:hover{
    background-color: #0080ff;
    color: white;
}
.myname{
    min-height: 16px;
    font-size: 25px;
    font-family: cursive;
    font-weight: 500;
    text-align: center;
    color: white;
}
.section{
    margin: 30px;
}
.container{
    background-color: lightgray;
    margin: 0;
    max-width: 100%;
}
.fa{
    font-size: 20px;
    
}
.social-icons{
    float: left;
}
ul.social-icons li{
    float: left;
    list-style: none;
    margin: 4px;
}
ul.social-icons li a{
    text-decoration: none;
}

/* mobile */

@media 